<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = 'stylesheet' href = "{{url_for('static',filename = 'style.css')}}">
</head>
<body>
    {%with messages = get_flashed_messages()%}
    {%for message in messages%}
    <p>{{message}}</p>
    {%endfor%}
    {%endwith%}
    <div class = 'container'>
        <div class = 'bar'><h2> Welcome to Recipe Share.Com</h2></div>
        <div class = 'unit'>
            <div class = 'title'>Register User</div>
            <form class = 'form' action = '/register' method = 'post'>
                <label for = 'first_name'>First Name:</label>
                <input type = 'text' name = 'first_name'>
                <label for = 'last_name'>Last Name:</label>
                <input type = 'text' name = 'last_name'>
                <label for = 'email'>Email:</label>
                <input type = 'text' name = 'email'>
                <label for = 'password'>Password:</label>
                <input type = 'password' name ='password'>
                <input type = 'submit'>
            </form>
        </div>
        <div class = 'unit'>
            <div class = 'title'>Log in</div>
            <form class = 'form' action = '/login' method = 'post'>
                <label for = 'email'>Email:</label>
                <input type = 'text' name = 'email'>
                <label for = 'password'>Password:</label>
                <input type = 'password' name ='password'>
                <input type = 'submit'>
            </form>
        </div>

</div>
</body>
</html>