<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel ='stylesheet', href = "{{url_for('static',filename = 'style.css')}}">
</head>
<body>
    <div class = 'container'>
        <div class = 'bar'><a href = '/recipes'> back to recipes /</a><a href = '/logout'>logout</a></div>
        <div class = 'unit'>
            <div class = 'title'><h2>{{recipe.recipe_name}}</h2></div>
            <div class = 'card ,table'>
                <table>
                    <thead>
                        <tr>
                            <th>Descriptions:</th>
                            <th>Under 30 Minutes?:</th>
                            <th>Instructions:</th>
                            <th>Date Made:</th>
                            <th>Added By:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{recipe.description}}</td>
                            <td>{{recipe.under}}</td>
                            <td>{{recipe.instructions}}</td>
                            <td>{{recipe.created_at}}</td>
                            <td>{{recipe.user_name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>